{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %}
    <div class="flex flex-col md:flex-row min-h-screen">
        <aside class="text-base-content bg-base-300 w-full h-auto md:w-56 shrink-0">
            <ul class="flex flex-col p-4 space-y-1">
                {% url 'account_email' as email_url_ %}
                {% if email_url_ %}
                    <li>
                        <a class="btn btn-sm btn-ghost w-full justify-start {% if request.path == email_url_ %}btn-active{% endif %}"
                           href="{{ email_url_ }}">Change Email</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url_ %}
                {% url 'account_set_password' as set_password_url_ %}
                {% if change_password_url_ %}
                    <li>
                        <a class="{% block nav_class_password %}btn btn-sm btn-ghost w-full justify-start {% if request.path == change_password_url_  or request.path == set_password_url_ %}btn-active{% endif %}{% endblock %}"
                           href="{{ change_password_url_ }}">Change Password</a>
                    </li>
                {% endif %}
                {% url 'account_change_phone' as phone_url_ %}
                {% if phone_url_ %}
                    <li>
                        <a class="{% block nav_class_phone %}btn btn-sm btn-ghost w-full justify-start {% if request.path == phone_url_ %}btn-active{% endif %}{% endblock %}"
                           href="{{ phone_url_ }}">Change Phone</a>
                    </li>
                {% endif %}
                {% url 'socialaccount_connections' as connections_url_ %}
                {% if connections_url_ %}
                    <li>
                        <a class="{% block nav_class_socialaccount %}btn btn-sm btn-ghost w-full justify-start {% if request.path == connections_url_ %}btn-active{% endif %}{% endblock %}"
                           href="{{ connections_url_ }}">Third-Party Accounts</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_index_url_ %}
                {% if mfa_index_url_ %}
                    <li>
                        <a class="{% block nav_class_mfa %}btn btn-sm btn-ghost w-full justify-start {% if request.path == mfa_index_url_ %}btn-active{% endif %}{% endblock %}"
                           href="{{ mfa_index_url_ }}">Two-Factor Authentication</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url_ %}
                {% if usersessions_list_url_ %}
                <li>
                    <a class="{% block nav_class_usersessions %}btn btn-sm btn-ghost w-full justify-start {% if request.path == usersessions_list_url_ %}btn-active{% endif %}{% endblock %}"
                    href="{{ usersessions_list_url_ }}">Sessions</a>
                </li>
                {% endif %}
                
                {% url 'account_logout' as account_logout_ %}
                <li>
                    <a class="btn btn-sm btn-ghost w-full justify-start {% if request.path == account_logout_ %}btn-active{% endif %}"
                        href="{{ account_logout_ }}">Logout</a>
                </li>
            </ul>
        </aside>
        <main class="grow p-2 md:p-4 space-y-4">
            {% if messages %}
                <div class="mb-4 flex flex-col gap-2">
                    {% for message in messages %}
                        {% element alert level=message.tags %}
                            {% slot message %}{{ message }}{% endslot %}
                        {% endelement %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="md:border rounded-xl p-2 md:p-4">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}