{% load i18n %}
<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        {% include "./navlinks.html" %}
      </ul>
    </div>
    {% include "core/includes/logo.html" %}
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {% include "./navlinks.html" %}
    </ul>
  </div>
  <div class="navbar-end gap-2">
    {% comment %} theme controller {% endcomment %}

    {% include "core/includes/theme_controller.html" %}


    <div class="flex justify-around gap-2">
      {% if user.is_authenticated %}
        <div class="flex gap-2 items-center justify-end">
          {% include "core/includes/nav_cart_icon.html" %}
          {% include "core/includes/nav_profile_icon.html" %}
        </div>
      {% else %}
        <div class="flex justify-around gap-2">
          <a href="{% url 'account_signup' %}" class="btn btn-sm lg:btn-md btn-primary btn-outline"
            >{% trans "Sign Up" %}</a
          >
          <a href="{% url 'account_login' %}" class="btn btn-sm lg:btn-md btn-primary" href="#">{% trans "Sign In" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
