<div class="space-y-4">
    {% if form.non_field_errors %}
        <div class="alert alert-error text-sm">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    {% for field in form %}
        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ field.label }}</span>
            </label>

            {{ field }}

            {% if field.errors %}
                <p class="text-red-500 text-sm">
                    {{ field.errors|striptags }}
                </p>
            {% endif %}

        </div>
    {% endfor %}
</div>